h1{
	color: blue;
	font-size: 36px;
}

#for_id{
	background-color: rgb(0,0,0);
	color: #FFFFFF;
}

.for_class{
	background-color: rgba(255,0,0,1);
	color: #000000;
}

#img_bg{
	background-image: url("https://ifedyukin.github.io/images/404.png");
	background-size: contain;
	height: 195px;
	width: 200px;
}