h1{
  margin-left: 50px;
  margin-top: 50px;
}

section{
  margin-left: 10px;
}

#task1 .container{
  background-color: #a0dfd1;
  padding: 10px;
  width: 95%;
  border-radius: 10px;
}

#task1 .top{
  font-weight: bold;
  padding: 10px;
  background-color: #ffcf00;
  width: 98%+5px;
}

#task1 .arrow{
	border: 10px solid transparent;
	border-top: 13px solid #ffcf00;
	width: 0px;
	position: relative;
	margin-left: 10px;
}

#task1 .text{
  border-top: 3px solid #ffcf00;
  margin-top: -25px;
  padding: 10px;
  background-color: #edecde;
  width: 98%+5px;
}

#task2 .arrow-box{
	background-color: #88b7d5;
	color: white;
	width: 350px;
	padding: 10px;
	border: 5px solid #c2e1f5;
}

#task2 .arrow-box:before{
	content: ''; 
	position: absolute;
    border: 20px solid transparent;
	border-bottom: 20px solid #88b7d5;
	margin-top: -50px;
	margin-left: 150px;
	z-index: 10;
}

#task2 .arrow-box:after{
	content: ''; 
	position: absolute;
    border: 26px solid transparent;
	border-bottom: 26px solid #c2e1f5;
	margin-top: -117px;
	margin-left: -164.3px;
	z-index: 9;
}

#task3 h1{
	margin-bottom: 40px;
}

#task3 .caption{
	background-color: #a68bdd;
	width: 70px;
	padding: 5px;
	text-align: center;
	border: 3px solid #9081ce;
	border: 3px 3px 0 0;
	border-radius: 10px 10px 0 0;
	z-index: 5;
	position: absolute;
	margin-top: -30px;
}


#task3 .text{
	z-index: 1;
	height: 250px;
	padding: 10px;
	width: 500px;
	background-color: #a68bdd;
	border: 3px solid #ada7bb;
	border-radius: 0 10px 10px 10px;
}

#task4{
	height: 200px;
}


input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


ul.dropdown li { position: relative; }
 ul.dropdown,
 ul.dropdown-inside {
 list-style-type: none;
 padding: 0;
 }
 ul.dropdown-inside {
 position: absolute;
 left: -9999px;
 }
 ul.dropdown li.dropdown-top {
 display: inline;
 float: left;
 margin: 0 1px 0 0;
 }
 ul.dropdown li.dropdown-top a {
 padding: 3px 10px 4px;
 display: block;
 }
 ul.dropdown label { margin-left: 100px;
	cursor: pointer;
	padding: 5px 20px;
	color: white;
	background-color: #35baf6;
	border: 3px solid #1eb2f4;
	border-radius: 0 0 10px 10px;
	text-align: center; }
 ul.dropdown label:hover { 
  box-shadow: 0 0 25px 25px #CBF1F5;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;
  }
 ul.dropdown input[type=checkbox]:checked ~ .dropdown-inside {
 display: block;
 left: 0;
 }
 
  ul.dropdown input[type=checkbox]:checked ~ label {
 position: absolute;
 margin-top: 125px;
  border-top: 3px solid #6abcf7;
  width: 70px;
 }
 
 ul.dropdown .dropdown-inside {margin-left: 100px;
 padding: 0;
	cursor: pointer;
	color: white;
	background-color: #35baf6;
	width: 116px;
	text-align: center;}
	
	 ul.dropdown .dropdown-inside a{
		 text-decoration: none;
		 color: white;
	 }
 ul.dropdown .dropdown-inside a:hover { background: #03a9f4 }
 
 #top_menu{
	 width: 100%;
	 padding: 0;
	 background-color: #004076;
	 height: 40px;
	 color: white;
	 min-width: 480px;
 }
 
 #top_menu div{
	 cursor: pointer;
 }
 #top_menu .left{
	 float: left;
 }
 
 #top_menu .right{
	 float: right;
 }
 
 #top_menu .menu:hover{
	 background-color:#e03838;
 }
 
 .count{
	 float: right;
	 padding-left: 3px;
	 padding-right: 3px;
	 border-radius: 50px;
	 background-color: #f3272a;
	 height: 20px;
	 margin-top: 10px;
	 margin-left: 10px;
 }
 
 .menu{
	 height: 40px;
	 margin-right: 2px;
	 float: left;
	 background-color: #397cb3;
	 padding-right: 5px;
	 padding-left: 5px;
 } 
 .logout{
	 background-color: #2f2f35;
	 margin-right: 0;
 }
 
 .msg_pic{
	 background-image: url("https://cdn3.iconfinder.com/data/icons/simple-icon-set-1/524/talk-128.png");
	 background-size: contain;
	 height: 30px;
	 width: 25px;
	 margin-top: 7px;
	 float: left;
 }
 
  .news_pic{
	 background-image: url("https://cdn4.iconfinder.com/data/icons/48x48-free-object-icons/48/News.png");
	 background-size: contain;
	 height: 25px;
	 width: 25px;
	 margin-top: 7px;
	 float: left;
 }  
 
 .profile_pic{
	 background-image: url("https://cdn4.iconfinder.com/data/icons/pictograms-vol-1-1/273/human-128.png");
	 background-size: contain;
	 height: 25px;
	 width: 19px;
	 margin-top: 7px;
	 float: left;
 }
 
  .flag_pic{
	 background-image: url("https://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_09.png");
	 background-size: contain;
	 height: 25px;
	 width: 25px;
	 margin-top: 7px;
	 float: left;
 }
 
   .todolist_pic{
	 background-image: url("https://cdn3.iconfinder.com/data/icons/humano2/128x128/mimetypes/type-list.png");
	 background-size: contain;
	 height: 25px;
	 width: 25px;
	 margin-top: 7px;
	 float: left;
 }
 
 .refresh_pic{
	 background-image: url("https://cdn3.iconfinder.com/data/icons/camill-icons/128/camill_reload.png");
	 background-size: contain;
	 height: 25px;
	 width: 25px;
	 margin-top: 7px;
	 float: left;
 }
 
 .menu_pic{
	 background-image: url("https://cdn0.iconfinder.com/data/icons/fatcow/32/investment_menu_quality.png");
	 background-size: contain;
	 height: 25px;
	 width: 25px;
	 margin-top: 7px;
	 float: left;
 }
 
 .logout p{
	 font-size: 24px;
	 margin-top: 7px;
	 margin-right: 5px;
	 float: left;
 }
 
  .logout_pic{
	 background-image: url("https://cdn2.iconfinder.com/data/icons/snipicons/500/logout-128.png");
	 background-size: contain;
	 height: 25px;
	 width: 25px;
	 margin-top: 7px;
	 float: right;
 }
 
 .pic_container{
	background-image: url("https://ifedyukin.github.io/images/404.png");
	background-size: contain;
	height: 150px;
	width: 155px;
}

/*FLOAT*/
.block_container_float .element_container{
	margin-top: 25px;
	float: left;
	margin-left: 25px;
	border: 1px solid black;
}

/*INLINE*/
.block_container_inline{
	margin-top: 150px;
	clear: left;
	width: 100%;
}

.block_container_inline .element_container{
	margin-left: 25px;
	border: 1px solid black;
	width: 155px;
	display: inline-block;
	margin-top: 20px;
}

/*FLEX*/
.block_container_flex .element_container{
	margin-left: 25px;
	border: 1px solid black;
	width: 155px;
	display: inline-flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: flex-start;
}

.block_container{
	width: 100%;
	clear: left;
}

.buttons_container{
	margin-left: 12px;
	margin-bottom: 10px;
	float: 5px;
}

.block_container h2{
	padding-top: 50px;
}
 